:root {
  --primary-color: #141010;
  --secondary-color: #ef7152;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Russo One", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--secondary-font);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.social-list {
  display: flex;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  padding-right: 10px;
  color: var(--primary-color);
}

.navbar-toggler-icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-white {
  color: white;
  opacity: 0.8;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(/images/IMG_9310.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.btn {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  will-change: transform;
}

.btn-warning {
  color: #fff;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-warning:hover {
  color: #fff;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.text-orange {
  color: var(--secondary-color);
}

h1 {
  font-family: var(--primary-font);
  font-size: 70px;
  opacity: 0.9;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 36px;
  display: block;
  margin: 0;
  opacity: 0.9;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.img-thumbnail {
  border: 5px solid var(--secondary-color);
  padding: 5px;
  background: #eee;
}

.text-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.bg-grey {
  background: linear-gradient(87deg, #f4f5f7 0, #f4f4f7 100%) !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

#contact {
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.icon {
  color: var(--primary-color);
  font-size: x-large;
}

.icon:hover {
  color: var(--secondary-color);
}

@media (max-width: 1024px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 30px;
  }
  .card {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .navbar-brand {
    display: none;
  }

  .email-link {
    font-size: 10px;
  }
}
