:root {
  --primary-color: #141010;
  --secondary-color: #ef7152;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Russo One", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--secondary-font);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  flex-direction: column;
  list-style: none;
  width: 100%;
  font-family: var(--primary-font);
}

.list-inline {
  display: flex;
}

.list-inline {
  padding-left: 20px;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  padding-right: 10px;
}

.navbar-toggler-icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
}

.navbar-collapse {
  position: relative;
  z-index: 1;
}

section,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(/images/large-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
  padding-bottom: 250px;
}

.greeting {
  position: relative;
  top: 20px;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
}

h1 {
  font-family: var(--primary-font);
  font-size: 70px;
  opacity: 0.9;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 36px;
  display: block;
  margin: 0;
  opacity: 0.9;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  font-size: 14px;
  position: relative;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  will-change: transform;
  box-shadow: var(--box-shadow);
}

.btn-warning {
  color: #fff;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.btn-warning:hover {
  color: #fff;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.arrow {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  color: var(--secondary-color);
}

.arrow:hover {
  color: var(--secondary-color);
  opacity: 0.9;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.img-thumbnail {
  border: 5px solid var(--secondary-color);
  padding: 5px;
  background: #eee;
  width: 400px;
}

.text-white {
  color: white;
  opacity: 0.8;
}

.text-orange {
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.bg-grey {
  background: linear-gradient(87deg, #f4f5f7 0, #f4f4f7 100%) !important;
}

#contact {
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.icon-navbar {
  font-size: 20px;
  height: 20px;
}

.icon-footer {
  color: var(--secondary-color);
  font-size: 22px;
  padding: 10px 14px;
  border-radius: 50%;
  background-color: white;
  transition: all 150ms ease-in-out;
}

.icon-footer:hover {
  color: white;
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 35px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .bg-image {
    background-attachment: scroll;
  }
  .img-thumbnail {
    max-width: 350px;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 30px;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .nav-link {
    font-size: 14px;
  }
  .card {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .arrow {
    font-size: 40px;
  }
  .email-link {
    font-size: 16px;
  }
  .bg-image {
    background-attachment: scroll;
  }
  .greeting {
    position: relative;
    top: 170px;
    width: 320px;
  }
  .img-thumbnail {
    max-width: 250px;
  }
}
